.primary-nav {
	text-align: right;
	@media (max-width: $tweakpoint-mobile-nav) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: $color-canvas;
		background: rgba($color-canvas, .97);
		padding-top: 80px;
		opacity: 0;
		pointer-events: none;
		.has-nav & {
			opacity: 1;
			pointer-events: auto;
		} // .has-nav &
		.can-animate-nav & {
			@include transition(opacity .3s ease-in-out);
		} // .can-animate-nav &
	} // small
	@media (max-width: $tweakpoint-mobile-nav) and (max-height: 420px) {
		padding-top: 30px;
	}
	&__items {
		padding: 0;
	} // &__items
	&__item {
		display: inline-block;
		margin-left: 40px;
		font: {
			size: 15px;
			weight: $font-weight-semibold;
		}
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-menu-parent,
		&.current_page_ancestor,
		&.current-page-ancestor,
		&.current-page-parent,
		&.current_page_parent,
		&.current_page_ancestor {
			a {
				color: $color-base;
			} // a
		}
		&--blog {
			.single-post & a {
				color: $color-base;
			}
		}
		&--rss a {
			font-size: 0;
			&:after {
				@extend %u-icon-font;
				content: $icon-rss;
				font-size: 16px;
				position: relative;
				top: 1px;
			} // &:after
		} // &--rss
		@media (max-width: $tweakpoint-mobile-nav) {
			display: block;
			padding: 0;
			text-align: center;
			margin-left: 0;
		} // small
		a {
			@include transition(color .1s ease-in-out);
			color: $color-base-alt;
			&:hover,
			&:focus {
				color: $color-base;
			} // &:hover, &:focus
			@media (max-width: $tweakpoint-mobile-nav) {
				display: block;
				padding: 10px 0;
			} // small
		} // a
	} // &__item
	&__toggler {
		font-size: 0;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 11;
		display: none;
		@media (max-width: $tweakpoint-mobile-nav) {
			display: inline-block;
		} // small
		&:after {
			@extend %u-icon-font;
			content: $icon-bars;
			font-size: 22px;
			color: $color-base;
			opacity: .7;
			.has-nav & {
				content: $icon-times;
			} // .has-nav &
		} // &:after
	} // &__toggler
} // .primary-nav
